
@import "tailwindcss";


:root{

--primary:#0B6B3A;

--primary-light:#1A8A4A;

--secondary:#D4A017;

--background:#F8FAFC;

--card:#FFFFFF;

--border:#E5E7EB;

--text:#0F172A;

--muted:#64748B;

--danger:#DC2626;

}

body{

background:var(--background);

color:var(--text);

}




.scanner-container{

    position:relative;

    width:100%;

    min-height:420px;

    overflow:hidden;

    border-radius:16px;

    background:#000;

}



.scanner-container video{

    width:100% !important;

    height:100% !important;

    object-fit:cover;

}



.scanner-frame{

    pointer-events:none;

    position:absolute;

    inset:40px;

    border:3px solid #ffffff;

    border-radius:16px;

}



.scanner-line{

    pointer-events:none;

    position:absolute;

    left:50px;

    right:50px;

    height:3px;

    background:#22c55e;

    animation:scannerMove 2s linear infinite;

}



.scanner-success{

    box-shadow:

        0 0 25px #22c55e;

    border:

        4px solid #22c55e;

}



@keyframes scannerMove{

    0%{

        top:70px;

    }

    100%{

        top:330px;

    }

}